body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.action_link a:hover{
    text-decoration: none;
    color: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
}
.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15) !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.card-header:first-child {
    border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
}

/*.py-3 {
    padding-bottom: 1rem !important;
}

.py-3 {
    padding-top: 1rem !important;
}*/

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}

.m-0 {
    margin: 0 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.text-primary {
    color: #4e73df !important;
}

.cardheader_font {
    font-size: 14px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.6rem;
}

/*.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}*/




