@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is demo application. In this application, implmemented CRUD operations using ADO.NET.
    It is very simple application in which used DataTable and sweetalert on UI side. 
    Used ADO.Net to interact with Sql Server DB.
    </p>

<address>
    <strong>Contact:</strong>   <a>pniwate15@gmail.com</a><br />
</address>
